@use "../utilities/variables" as variables;
@use "../utilities/extends" as extends;

.section-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: variables.$color-principal;
}

.animacionImagenes {
    @extend .imagenAnimacion;

    &:hover {
       transform: translateY(-8px) scale(1.02);
    }
     object-fit: cover;
}


