.backgroundHeaders {
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}

.d-flexBasico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}